# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Flask specific
instance/
.webassets-cache

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytest_cache/
*.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask environments
.env
.flaskenv

# SQL database files
*.sqlite3
*.db

# MySQL specific
*.sql
*.log

# PyCharm specific
.idea/
*.iml
*.iws
.idea/
.idea/*
.idea/vcs.xml
.idea/workspace.xml

# VS Code specific
.vscode/
.vscode/*

# Jupyter Notebook
.ipynb_checkpoints/

# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS specific
.DS_Store

# System files
Thumbs.db
Desktop.ini
